@model WebAppFeatures.ViewModel.ResetPasswordViewModel

@{
    ViewData["Title"] = localizer["tilteResetPage"];
}

@if (TempData["ResetErrorMessage"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong> @TempData["ResetErrorMessage"] </strong>
    </div>
}
<div class="row justify-content-md-center m-3">
    <div class="col-md-6">
        <h1>@localizer["tilteReset"]</h1>
        <form method="post" asp-controller="Account" asp-action="ResetPassword" asp-antiforgery="true">
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComparePassword" class="control-label"></label>
                <input asp-for="ComparePassword" class="form-control" autocomplete="off" />
                <span asp-validation-for="ComparePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@localizer["btnReset"]" class="btn btn-info btn-block" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}