@{
    ViewData["Title"] = localizer["TitleHomePage"];
}

<div class="text-center">
    <h1 class="display-4">@localizer["lblWelcome"]</h1>
    <p>@localizer["lblLearnAbout"]<a href="https://docs.microsoft.com/aspnet/core"> @localizer["lblDetilas"]</a></p>
</div>
