@model WebAppFeatures.ViewModel.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="content">

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Change Password</h5>
                </div>
                <div class="card-body">
                    <form asp-controller="Dashboard" asp-action="ChangePassword" asp-antiforgery="true" method="post">
                            <div class="form-group ">
                                <label asp-for="OldPassword" class="control-label"></label>
                                <input asp-for="OldPassword" class="form-control" />
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewPassword" class="control-label"></label>
                                <input asp-for="NewPassword" class="form-control" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewPasswordAgain" class="control-label"></label>
                                <input asp-for="NewPasswordAgain" class="form-control" />
                                <span asp-validation-for="NewPasswordAgain" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger btn-primary btn-round">Change Passowrd</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
